body {
	background-color: #b5a789;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: small;
	margin : 0px;
}

#head {
	background-color: #675c47;
	margin: 30px;
	height : 108px;
}

#main {
	background:  #ff00ff url(background.jpg) top left;
	font-size: 105%;
	padding : 15px;
	margin: 0px 10px 10px 10px;
	border: solid 1px #ff0000;;
}

#sidebar {
	background: #efe5d0 url(bg2.jpg) top left;
	font-size: 105%;
	padding: 15px;
	margin: 0px 10px 10px 10px;
	width: 280px;
	float: right;
}

#footer {
	background-color: #675c47;
	color: #efe5do;
	text-align: center;
	padding: 15px;
	margin: 10px;
	font-size:90%;
}

h1 {
	font-size: 120%;
	color: #954b4b;
}

.slogan {
	color: #954b4b;
}

.beanheading {
	text-align: center;
	line-height: 1.8em
}

a:link {
	color : #ff00ff;
	text-decoration: none;
	border-bottom: thin dotted #ff0000
}

a:visited {
	color : #675c47;
	text-decoration: none;
	border-bottom: thin dotted #675c47
}


